---
layout: default
---

<div class="home">
  {% assign pages = site.pages | sort:"weight"  %}
  {% for page in pages %}
    {% if page.title %}
      <div class="row-fluid">
        <div class="col-xs-5 col-sm-4">
          <a href="{{ page.title | prepend: "#modal" }}" data-toggle="modal" class="thumbnail">
            <img src="{{ page.image }}" class="img-responsive img-rounded"/>
            <h4 class="caption text-center">{{ page.title }}</h4>
          </a>
        </div>
      </div>
      <div class="modal" id="{{ page.title | prepend: "modal" }}" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title" id="myModalLabel">{{ page.title }}</h2>
            </div>
            <div class="modal-body">
              {{ page.content | markdownify }}
              {% for post in site.categories.[page.tag] %}
                <h4>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h4><br />
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
